In [1]:
# Untuk pengolahan data
import pandas as pd
import numpy as np
from zipfile import ZipFile
from pathlib import Path

# Untuk visualisasi data
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline
sns.set_palette('Set1')
sns.set()

# Untuk pemodelan
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
from tensorflow.keras.metrics import RootMeanSquaredError
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from tensorflow.keras.models import Model
from tensorflow.keras.layers import Input, Embedding, Flatten, Dense, Concatenate


# Untuk menghilangkan warnings saat plotting seaborn
import warnings
warnings.filterwarnings('ignore')

# Untuk mengupload file
import os

In [2]:
from google.colab import drive
drive.mount("/content/gdrive")
rating = pd.read_excel(r'/content/gdrive/My Drive/Colab Notebooks/Dataset_Review_Restaurant.xlsx')

Mounted at /content/gdrive

In [3]:
from google.colab import drive
drive.mount("/content/gdrive")
place = pd.read_excel(r'/content/gdrive/My Drive/Colab Notebooks/Dataset_Restaurant.xlsx')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [4]:
merged_df = rating.merge(place, on='Place_ID')

In [5]:
merged_df

,User_ID,Place_ID,Ratings,Place,Image,URL,Rating,Num_Rating,Category,Address,Longitude,Latitude,Label_Kecamatan
0,1,12,1,Super Penyet Setiabudi,https://lh5.googleusercontent.com/p/AF1QipMufn...,https://www.google.com/maps/place/Super+Penyet...,4.4,5702,Ayam,Jl. Setia Budi No.207,110.411722,-7.058634,1
1,4,12,2,Super Penyet Setiabudi,https://lh5.googleusercontent.com/p/AF1QipMufn...,https://www.google.com/maps/place/Super+Penyet...,4.4,5702,Ayam,Jl. Setia Budi No.207,110.411722,-7.058634,1
2,7,12,2,Super Penyet Setiabudi,https://lh5.googleusercontent.com/p/AF1QipMufn...,https://www.google.com/maps/place/Super+Penyet...,4.4,5702,Ayam,Jl. Setia Budi No.207,110.411722,-7.058634,1
3,22,12,2,Super Penyet Setiabudi,https://lh5.googleusercontent.com/p/AF1QipMufn...,https://www.google.com/maps/place/Super+Penyet...,4.4,5702,Ayam,Jl. Setia Budi No.207,110.411722,-7.058634,1
4,22,12,3,Super Penyet Setiabudi,https://lh5.googleusercontent.com/p/AF1QipMufn...,https://www.google.com/maps/place/Super+Penyet...,4.4,5702,Ayam,Jl. Setia Budi No.207,110.411722,-7.058634,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
511319,17653,55,2,Logissteak Genuk indah,https://lh5.googleusercontent.com/p/AF1QipO3uB...,https://www.google.com/maps/place/Logissteak+G...,4.6,352,Steak,Jl. Kapas Utara Raya No.824,110.465362,-6.964662,5
511320,17669,55,3,Logissteak Genuk indah,https://lh5.googleusercontent.com/p/AF1QipO3uB...,https://www.google.com/maps/place/Logissteak+G...,4.6,352,Steak,Jl. Kapas Utara Raya No.824,110.465362,-6.964662,5
511321,17808,55,2,Logissteak Genuk indah,https://lh5.googleusercontent.com/p/AF1QipO3uB...,https://www.google.com/maps/place/Logissteak+G...,4.6,352,Steak,Jl. Kapas Utara Raya No.824,110.465362,-6.964662,5
511322,17906,55,3,Logissteak Genuk indah,https://lh5.googleusercontent.com/p/AF1QipO3uB...,https://www.google.com/maps/place/Logissteak+G...,4.6,352,Steak,Jl. Kapas Utara Raya No.824,110.465362,-6.964662,5
511323,17983,55,1,Logissteak Genuk indah,https://lh5.googleusercontent.com/p/AF1QipO3uB...,https://www.google.com/maps/place/Logissteak+G...,4.6,352,Steak,Jl. Kapas Utara Raya No.824,110.465362,-6.964662,5

In [6]:
# Encode categorical variables
user_encoder = LabelEncoder()
place_encoder = LabelEncoder()

In [7]:
merged_df['user_encoded'] = user_encoder.fit_transform(merged_df['User_ID'])
merged_df['place_encoded'] = place_encoder.fit_transform(merged_df['Place_ID'])

In [8]:
train_df, test_df = train_test_split(merged_df, test_size=0.2, random_state=42)

In [9]:
# Define input layers
user_input = Input(shape=(1,))
place_input = Input(shape=(1,))

# Define embedding layers
user_embedding = Embedding(len(user_encoder.classes_), 10)(user_input)
place_embedding = Embedding(len(place_encoder.classes_), 10)(place_input)

# Flatten the embeddings
user_flatten = Flatten()(user_embedding)
place_flatten = Flatten()(place_embedding)

# Concatenate the embeddings
concatenated = Concatenate()([user_flatten, place_flatten])

# Define hidden layers
hidden1 = Dense(64, activation='relu')(concatenated)
hidden2 = Dense(32, activation='relu')(hidden1)

# Output layer
output = Dense(1)(hidden2)

In [10]:
model = Model(inputs=[user_input, place_input], outputs=output)

# Compile the model
model.compile(loss='mean_squared_error', optimizer='adam')

In [11]:
X_train = [train_df['user_encoded'], train_df['place_encoded']]
y_train = train_df['Ratings']

# Train the model
model.fit(X_train, y_train, epochs=3, batch_size=32)

Epoch 1/3
12784/12784 [==============================] - 75s 6ms/step - loss: 2.0402
Epoch 2/3
12784/12784 [==============================] - 68s 5ms/step - loss: 2.0003
Epoch 3/3
12784/12784 [==============================] - 77s 6ms/step - loss: 1.9707

In [12]:
# Prepare the test data
X_test = [test_df['user_encoded'], test_df['place_encoded']]
y_test = test_df['Ratings']

# Evaluate the model
loss = model.evaluate(X_test, y_test)
print('Test Loss:', loss)

3196/3196 [==============================] - 4s 1ms/step - loss: 2.0319
Test Loss: 2.0319294929504395

In [15]:
# Get recommendations for a given user
user_id = '100'
user_index = user_encoder.transform([user_id])[0]

place_indices = np.arange(len(place_encoder.classes_))
user_indices = np.array([user_index] * len(place_encoder.classes_))

recommendations = model.predict([user_indices, place_indices])
recommendations = np.squeeze(recommendations)

# Get top 10 recommendations
top_indices = recommendations.argsort()[-10:][::-1]
top_places = place.iloc[top_indices]

# Display the recommendations
for _, row in top_places.iterrows():
    print('Place Name:', row['Place'])
    print('Address:', row['Address'])
    print('Ratings:', row['Rating'])
    print('Number of Ratings:', row['Num_Rating'])
    print('Category:', row['Category'])
    print('Image:', row['Image'])
    print('Url:', row['URL'])
    print('-----------------------------')

5/5 [==============================] - 0s 2ms/step
Place Name: My Kopi O!
Address: Jl. Sisingamangaraja No.75
Ratings: 4.4
Number of Ratings: 1748
Category: Restoran
Image: https://lh5.googleusercontent.com/p/AF1QipPODoVkKz8JPGwLXwtoR_BWOK_si8zKLKKWn-nC=w122-h92-k-no
Url: https://www.google.com/maps/place/My+Kopi+O!/data=!4m7!3m6!1s0x2e708b7897d809af:0xe3a9fbfac1abed96!8m2!3d-7.0153033!4d110.4193801!16s%2Fg%2F11b90cyvq2!19sChIJrwnYl3iLcC4Rlu2rwfr7qeM?authuser=0&hl=id&rclk=1
-----------------------------
Place Name: Ventura Taman Kuliner By Kekancan Group
Address: Jl. Ki Mangunsarkoro No.15
Ratings: 4.5
Number of Ratings: 6393
Category: Indonesia
Image: https://lh5.googleusercontent.com/p/AF1QipP6Y-Xem-E_Oi27oBV5TtICB7JGL0bAiT59Ywz5=w163-h92-k-no
Url: https://www.google.com/maps/place/Ventura+Taman+Kuliner+By+Kekancan+Group/data=!4m7!3m6!1s0x2e708b6827c0ef27:0xc248d067938c4f52!8m2!3d-6.9900131!4d110.4288788!16s%2Fg%2F1pzrdhnrd!19sChIJJ-_AJ2iLcC4RUk-Mk2fQSMI?authuser=0&hl=id&rclk=1
-----------------------------
Place Name: Kuliner Lor Tugu
Address: Jl. A.M. Sangaji
Ratings: 4.6
Number of Ratings: 1065
Category: Restoran
Image: https://lh5.googleusercontent.com/p/AF1QipMv-bijTc1lUO41XTDSoeeZ7Vxja-fGl96cnZ0j=w80-h141-k-no
Url: https://www.google.com/maps/place/Kuliner+Lor+Tugu/data=!4m7!3m6!1s0x2e7a595f74aa7a5b:0x5dc70871f6fcff!8m2!3d-7.7820461!4d110.3676247!16s%2Fg%2F11j0yj89fd!19sChIJW3qqdF9Zei4R__z2cQjHXQA?authuser=0&hl=id&rclk=1
-----------------------------
Place Name: SOTO AYAM & NASI PINDANG KUDUS TRISNO SARI
Address: Jl. Majapahit No.177
Ratings: 4.5
Number of Ratings: 1698
Category: Soto Ayam
Image: https://lh5.googleusercontent.com/p/AF1QipNwLxwQKUleLZNIwj0xllXPnKuaGcX8vgbYAZSb=w122-h92-k-no
Url: https://www.google.com/maps/place/SOTO+AYAM+%26+NASI+PINDANG+KUDUS+TRISNO+SARI/data=!4m7!3m6!1s0x2e708ced348e1eb1:0x2c72c1ff1da8394!8m2!3d-7.0030273!4d110.450201!16s%2Fg%2F11fx91j5hq!19sChIJsR6ONO2McC4RlIPa8R8sxwI?authuser=0&hl=id&rclk=1
-----------------------------
Place Name: Rocket Chicken UNNES
Address: Jl. Taman Siswa No.101
Ratings: 4.3
Number of Ratings: 1165
Category: Ayam
Image: https://lh5.googleusercontent.com/p/AF1QipO5E6wLsS-sOL4JHY_lLAoY51HuK37TlGv834GM=w163-h92-k-no
Url: https://www.google.com/maps/place/Rocket+Chicken+UNNES/data=!4m7!3m6!1s0x2e708bd96b2511a3:0xe98ca649c9038d2!8m2!3d-7.0540724!4d110.3947861!16s%2Fg%2F11fy4kf2k7!19sChIJoxEla9mLcC4R0jiQnGTKmA4?authuser=0&hl=id&rclk=1
-----------------------------
Place Name: Mie Kota Kembang
Address: Jl. Tambak Mas I No.mor 73
Ratings: 4.5
Number of Ratings: 737
Category: Mi
Image: https://lh5.googleusercontent.com/p/AF1QipMIJptys84ZKqRBRYFn1wjLS3jrIS0b8xKocf10=w122-h92-k-no
Url: https://www.google.com/maps/place/Mie+Kota+Kembang/data=!4m7!3m6!1s0x2e70f4bee5c5df6b:0x19c1a099f4d2b96c!8m2!3d-6.9589145!4d110.4073345!16s%2Fg%2F1hc3frhwm!19sChIJa9_F5b70cC4RbLnS9JmgwRk?authuser=0&hl=id&rclk=1
-----------------------------
Place Name: Mie Ayam Ceker dan Bakso Shobat
Address: 2FG7+V73
Ratings: 4.5
Number of Ratings: 566
Category: Bakso
Image: https://lh5.googleusercontent.com/p/AF1QipMsZPmgxCP6I8ceJk_JIHjV64kD7F_Yu_7UbJbx=w122-h92-k-no
Url: https://www.google.com/maps/place/Mie+Ayam+Ceker+dan+Bakso+Shobat/data=!4m7!3m6!1s0x2e70f32d37b316d3:0xf686fbb55fe868bb!8m2!3d-6.9728726!4d110.4631579!16s%2Fg%2F11dyymwhpg!19sChIJ0xazNy3zcC4Ru2joX7X7hvY?authuser=0&hl=id&rclk=1
-----------------------------
Place Name: Bayleaf Grand Edge
Address: Hotel Grand Edge, Lantai Ground, Jl. Sultan Agung No.96
Ratings: 4.6
Number of Ratings: 1452
Category: China
Image: https://lh5.googleusercontent.com/p/AF1QipPPlj5-Ow4Tokx9wUYrz_Pht50_JCUleg-bi5V9=w163-h92-k-no
Url: https://www.google.com/maps/place/Bayleaf+Grand+Edge/data=!4m7!3m6!1s0x2e708b7a20b8a52b:0x99dc3db7f916101c!8m2!3d-7.0112247!4d110.4158824!16s%2Fg%2F11bv5sy7pw!19sChIJK6W4IHqLcC4RHBAW-bc93Jk?authuser=0&hl=id&rclk=1
-----------------------------
Place Name: The Hills Dining Restaurant
Address: Royal Park - Bukit Sari, Jl. Bukit Baladewa No.22-24
Ratings: 4.4
Number of Ratings: 1827
Category: Restoran
Image: https://lh5.googleusercontent.com/p/AF1QipNfmTrvGPPX1S2IQuMDzCx4-84VBeCWDVrLXjxY=w122-h92-k-no
Url: https://www.google.com/maps/place/The+Hills+Dining+Restaurant/data=!4m7!3m6!1s0x2e708bf601530803:0xcf565acd8e6cd7fc!8m2!3d-7.0412661!4d110.425993!16s%2Fg%2F119tgylrb!19sChIJAwhTAfaLcC4R_Ndsjs1aVs8?authuser=0&hl=id&rclk=1
-----------------------------
Place Name: Burjo & Bubur Ayam Asep
Address: Jl. Sekaran Raya
Ratings: 4.5
Number of Ratings: 652
Category: Rumah Makan
Image: https://lh5.googleusercontent.com/p/AF1QipOywSsGSrlFSdV1cBzrvLB8EndncL8MKdWru9c6=w80-h106-k-no
Url: https://www.google.com/maps/place/Burjo+%26+Bubur+Ayam+Asep/data=!4m7!3m6!1s0x2e708961fde77ebf:0xf156a992b335f222!8m2!3d-7.0577721!4d110.3969966!16s%2Fg%2F11fz25b4tw!19sChIJv37n_WGJcC4RIvI1s5KpVvE?authuser=0&hl=id&rclk=1
-----------------------------