In [24]:
# Untuk pengolahan data
import pandas as pd
import numpy as np
from zipfile import ZipFile
from pathlib import Path

# Untuk visualisasi data
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline
sns.set_palette('Set1')
sns.set()

# Untuk pemodelan
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
from tensorflow.keras.metrics import RootMeanSquaredError
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from tensorflow.keras.models import Model
from tensorflow.keras.layers import Input, Embedding, Flatten, Dense, Concatenate
import joblib

# Untuk menghilangkan warnings saat plotting seaborn
import warnings
warnings.filterwarnings('ignore')

# Untuk mengupload file
import os

In [2]:
from google.colab import drive
drive.mount("/content/gdrive")
rating = pd.read_excel(r'/content/gdrive/My Drive/Colab Notebooks/Dataset_Review_Restaurant.xlsx')

Mounted at /content/gdrive

In [3]:
from google.colab import drive
drive.mount("/content/gdrive")
place = pd.read_excel(r'/content/gdrive/My Drive/Colab Notebooks/Dataset_Restaurant.xlsx')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [4]:
merged_df = rating.merge(place, on='Place_ID')

In [5]:
merged_df

,User_ID,Place_ID,Ratings,Place,Image,URL,Rating,Num_Rating,Category,Address,Longitude,Latitude,Label_Kecamatan
0,1,12,1,Super Penyet Setiabudi,https://lh5.googleusercontent.com/p/AF1QipMufn...,https://www.google.com/maps/place/Super+Penyet...,4.4,5702,Ayam,Jl. Setia Budi No.207,110.411722,-7.058634,1
1,4,12,2,Super Penyet Setiabudi,https://lh5.googleusercontent.com/p/AF1QipMufn...,https://www.google.com/maps/place/Super+Penyet...,4.4,5702,Ayam,Jl. Setia Budi No.207,110.411722,-7.058634,1
2,7,12,2,Super Penyet Setiabudi,https://lh5.googleusercontent.com/p/AF1QipMufn...,https://www.google.com/maps/place/Super+Penyet...,4.4,5702,Ayam,Jl. Setia Budi No.207,110.411722,-7.058634,1
3,22,12,2,Super Penyet Setiabudi,https://lh5.googleusercontent.com/p/AF1QipMufn...,https://www.google.com/maps/place/Super+Penyet...,4.4,5702,Ayam,Jl. Setia Budi No.207,110.411722,-7.058634,1
4,22,12,3,Super Penyet Setiabudi,https://lh5.googleusercontent.com/p/AF1QipMufn...,https://www.google.com/maps/place/Super+Penyet...,4.4,5702,Ayam,Jl. Setia Budi No.207,110.411722,-7.058634,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
511319,17653,55,2,Logissteak Genuk indah,https://lh5.googleusercontent.com/p/AF1QipO3uB...,https://www.google.com/maps/place/Logissteak+G...,4.6,352,Steak,Jl. Kapas Utara Raya No.824,110.465362,-6.964662,5
511320,17669,55,3,Logissteak Genuk indah,https://lh5.googleusercontent.com/p/AF1QipO3uB...,https://www.google.com/maps/place/Logissteak+G...,4.6,352,Steak,Jl. Kapas Utara Raya No.824,110.465362,-6.964662,5
511321,17808,55,2,Logissteak Genuk indah,https://lh5.googleusercontent.com/p/AF1QipO3uB...,https://www.google.com/maps/place/Logissteak+G...,4.6,352,Steak,Jl. Kapas Utara Raya No.824,110.465362,-6.964662,5
511322,17906,55,3,Logissteak Genuk indah,https://lh5.googleusercontent.com/p/AF1QipO3uB...,https://www.google.com/maps/place/Logissteak+G...,4.6,352,Steak,Jl. Kapas Utara Raya No.824,110.465362,-6.964662,5
511323,17983,55,1,Logissteak Genuk indah,https://lh5.googleusercontent.com/p/AF1QipO3uB...,https://www.google.com/maps/place/Logissteak+G...,4.6,352,Steak,Jl. Kapas Utara Raya No.824,110.465362,-6.964662,5

In [6]:
# Encode categorical variables
user_encoder = LabelEncoder()
place_encoder = LabelEncoder()

In [7]:
merged_df['user_encoded'] = user_encoder.fit_transform(merged_df['User_ID'])
merged_df['place_encoded'] = place_encoder.fit_transform(merged_df['Place_ID'])

In [8]:
train_df, test_df = train_test_split(merged_df, test_size=0.2, random_state=42)

In [9]:
test_df

,User_ID,Place_ID,Ratings,Place,Image,URL,Rating,Num_Rating,Category,Address,Longitude,Latitude,Label_Kecamatan,user_encoded,place_encoded
70403,13285,121,5,McDonald's Pandanaran,https://lh5.googleusercontent.com/p/AF1QipNaaY...,https://www.google.com/maps/place/McDonald%27s...,4.5,12666,Makanan Siap Saji,Jl. Pandanaran No.44,110.411581,-6.986278,12,13284,100
456035,5401,96,1,Pondok Makan Sederhana,https://lh5.googleusercontent.com/p/AF1QipNxSR...,https://www.google.com/maps/place/Pondok+Makan...,4.5,1414,Jawa,Jl. Gayamsari IV No.201B,110.441694,-7.000013,9,5400,77
279527,12781,104,1,Ayam Goreng Suharti Krapyak,https://lh5.googleusercontent.com/p/AF1QipNw59...,https://www.google.com/maps/place/Ayam+Goreng+...,4.3,5659,Ayam,Jl. Siliwangi No.576,110.363956,-6.988460,10,12780,84
92355,239,128,5,The Tavern,https://lh5.googleusercontent.com/p/AF1QipM2EC...,https://www.google.com/maps/place/The+Tavern/d...,4.7,5569,Steak,Jl. Rinjani No.1,110.408827,-6.989576,12,238,107
444823,17010,16,4,Pizza Hut Restoran,https://lh5.googleusercontent.com/p/AF1QipOQ_y...,https://www.google.com/maps/place/Pizza+Hut+Re...,4.5,3481,Pizza,Jl. Setia Budi No.196,110.409513,-7.064682,1,17009,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260547,13561,17,5,"Waroeng Spesial Sambal ""SS"" Tembalang",https://lh5.googleusercontent.com/p/AF1QipMxi8...,https://www.google.com/maps/place/Waroeng+Spes...,4.3,3440,Rumah Makan,Jl. Tirto Agung No.32,110.418415,-7.046610,1,13560,6
447604,2214,107,5,Soto Ayam Khas Semarang Pak Man,https://lh5.googleusercontent.com/p/AF1QipP5QY...,https://www.google.com/maps/place/Soto+Ayam+Kh...,4.3,4660,Soto Ayam,Jl. Pamularsih Raya No.32,110.364950,-7.019337,10,2213,87
197511,5129,153,3,"Waroeng Spesial Sambal ""SS"" Tembalang",https://lh5.googleusercontent.com/p/AF1QipMxi8...,https://www.google.com/maps/place/Waroeng+Spes...,4.3,3440,Rumah Makan,Jl. Tirto Agung No.32,110.426334,-7.056802,15,5128,129
372192,1572,117,2,Waroeng Steak And Shake Singosari,https://lh5.googleusercontent.com/p/AF1QipOfpO...,https://www.google.com/maps/place/Waroeng+Stea...,4.4,4769,Steak,Jl. Singosari Raya No.65,110.423214,-7.000263,11,1571,97
472110,4974,84,5,Ayam Penyet Surabaya Ngaliyan,https://lh5.googleusercontent.com/p/AF1QipPHPR...,https://www.google.com/maps/place/Ayam+Penyet+...,4.3,3448,Ayam Penyet,NaN,110.336152,-7.016969,8,4973,66

In [10]:
# Define input layers
user_input = Input(shape=(1,))
place_input = Input(shape=(1,))

# Define embedding layers
user_embedding = Embedding(len(user_encoder.classes_), 10)(user_input)
place_embedding = Embedding(len(place_encoder.classes_), 10)(place_input)

# Flatten the embeddings
user_flatten = Flatten()(user_embedding)
place_flatten = Flatten()(place_embedding)

# Concatenate the embeddings
concatenated = Concatenate()([user_flatten, place_flatten])

# Define hidden layers
hidden1 = Dense(64, activation='relu')(concatenated)
hidden2 = Dense(32, activation='relu')(hidden1)

# Output layer
output = Dense(1)(hidden2)

In [11]:
model = Model(inputs=[user_input, place_input], outputs=output)

# Compile the model
model.compile(loss='mean_squared_error', optimizer='adam')

In [12]:
X_train = [train_df['user_encoded'], train_df['place_encoded']]
y_train = train_df['Ratings']

# Train the model
model.fit(X_train, y_train, epochs=3, batch_size=32)

Epoch 1/3
12784/12784 [==============================] - 69s 5ms/step - loss: 2.0381
Epoch 2/3
12784/12784 [==============================] - 67s 5ms/step - loss: 1.9990
Epoch 3/3
12784/12784 [==============================] - 66s 5ms/step - loss: 1.9679

In [13]:
# Prepare the test data
X_test = [test_df['user_encoded'], test_df['place_encoded']]
y_test = test_df['Ratings']

# Evaluate the model
loss = model.evaluate(X_test, y_test)
print('Test Loss:', loss)

3196/3196 [==============================] - 6s 2ms/step - loss: 2.0255
Test Loss: 2.025513172149658

In [14]:
# Get all unique places
unique_places = place['Place_ID'].unique()

# Get recommendations for a specific user
user_id = user_encoder.transform([100])[0]  # Replace <user_id> with the desired user ID
user_input = np.full(len(unique_places), user_id)
place_input = np.arange(len(unique_places))

# Predict ratings for the user and sort them in descending order
predictions = model.predict([user_input, place_input]).flatten()
sorted_indices = np.argsort(predictions)[::-1]

# Get the top 5 recommendations
top_5_places = unique_places[sorted_indices[:10]]

# Print the recommended places
recommended_places = place[place['Place_ID'].isin(top_5_places)][['Place_ID','Place','Address']]
print(recommended_places)

5/5 [==============================] - 0s 3ms/step
     Place_ID                          Place  \
11         22   D'Blasteran "Nostalgia Rasa"
78        810                  Selera Sambal
86         98  Rumah Makan Padang Dua Minang
121       133     Richeese Factory Majapahit
123       135              Mr.K Cafe Stadion
133       145                  RM. Sama Rasa
139       151               Sowak (Sop Iwak)
143       155                  KANE Semarang
147       159                  Penyet Bu Nur
155       167               Kuliner Lor Tugu

                                               Address
11                                   Jl. Tambora No.5A
78   Villa Ngaliyan Permai, Jl. Prof. Dr. Hamka, RT...
86                          Jl. Majapahit Nomer No.648
121                         Jl. Brigjend Katamso No.42
123                         Jl. Ki Mangunsarkoro No.15
133                                 Jl. Roda Mas No.32
139                       Jl. Banjarsari Selatan No.18
143                                 Jl. Jatimulyo No.8
147                      Jl. Mulawarman Utara Dalam II
155                                   Jl. A.M. Sangaji

In [27]:
model.save('model.h5')

In [26]:
# Save the K-means model using joblib
joblib.dump(model, 'model.pkl')

['model.pkl']

In [30]:
# Save the K-means model using joblib
joblib.dump(model, 'model.joblib')

['model.joblib']

In [29]:
import tensorflow as tf

# Load the H5 model
model = tf.keras.models.load_model('model.h5')

# Convert the model to TFLite format
converter = tf.lite.TFLiteConverter.from_keras_model(model)
tflite_model = converter.convert()

# Save the TFLite model to a file
with open('model.tflite', 'wb') as f:
    f.write(tflite_model)

WARNING:absl:Found untraced functions such as _update_step_xla while saving (showing 1 of 1). These functions will not be directly callable after loading.